.ipynb_checkpoints
.ipynb_checkpoints/*

.idea
.idea/*

*.png
results.txt
results.json

output/**

__pycache__
__pycache__/**

experiments
experiments/**

weights/**
!weights/.gitkeep

runs/**

*.pyc

typescript
